

.body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c0f29,#302b63,#24243e);

}

.main{
    width: 350px;
    height: 500px;
    /* background: linear-gradient(to bottom, #0f0c0f29, #302b63, #24243e); */
    /* background: red; */
    overflow: hidden;
    background: url("1.jpg") no repeat center/center;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
label {
    width: 60%;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5% ease-in-out;
}

input{
    width: 90%;
    height: 55px;
    background:  #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 5px;
    }
button{
    width: 60%;
    height: 50%;
    margin: 50px auto;
    display: black;
    color: #ffff;
    background: #573b8a;
    margin-left: 70px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border:none;
    border-radius: 6px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #6d44b8;
}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60%/10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #573b8a;
    transform: scale(.6);

}
#chk:checked ~ .login{
    transform: translateY(-500px);
    }
    #chk:checked ~ .login label{
        transform: scale(1);
    }
    #chk:checkedb ~ .signup label{
        transform: scale(.6);
    }